body {
  height: 100vh;
}
.header {
  text-align: center;
  font-size: 26pt;
  background: cornflowerblue;
}
.addNewListFeature {
  text-align: center;
  border: solid;
  margin-top: 2em;
  background: lightcoral;
}
h3 {
  border-bottom: solid;
}
body {
  text-align: center;
}
.border {
  border-left: solid;
  border-right: solid;
}
#lists {
  border: ridge;
}
